.btn {
    border: 2px solid rgb(255, 186, 38);
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    margin: 30px 0;
    background: transparent;
    transition-timing-function: ease;
    transition-duration: 500ms;
    position: relative;
    overflow: hidden;
  }
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transform: scaleY(0);
    z-index: -1;
  }
  .btn:hover {
    color: white;
  }
  .btn:hover:after {
    transform: scale(1);
    background: tomato;
  }
  