.main {
  flex-direction: column;
  gap: 10px;
  perspective: 600px;
}
.box-1 {
  width: 150px;
  height: 150px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.box-1:hover {
  transform: rotateY(600deg);
}
